@{
    
}
<div>
    <h3>Добавление пользователя</h3>
    <form method="post" action="">
        <table>
            <tr>
                <td><p>Имя:</p></td>
                <td><input type="text" name="Name" /> </td>
            </tr>
            <tr>
                <td><p>Почта:</p></td>
                <td>
                    <input type="text" name="Mail"/>
                </td>
            </tr>
        </table>
        <p><input type="submit" value="Добавить" /></p>
        <p>@ViewBag.Status</p>
    </form>
</div>